* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#calc h5 {
    font-size: .6em;
    font-weight: 200;
    color: #666;
}

#operations {
    text-align: right;
}

/*quando valor ja selecionado ou resultado*/
#previous-operation {
    color: #777;
    padding: .2em;
    overflow-wrap: break-word;
    /*para quebrar a linha*/
    min-height: 1.6em;
}

/*quando valor estiver sendo digitado ou selecionado*/
#current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: .2em;
    overflow-wrap: break-word;
    /*para quebrar a linha*/
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*serve para definir a proporção de cada coluna, 4 colunas nesse caso, 4 frações*/
    gap: 3px;
    /*espaçamento do grid*/
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #00BFFF;
    cursor: pointer;
}

#buttons-container .number {
    background-color: #87CEFA;
}

#buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #75a5cb;
}

#buttons-container #equal-btn:hover {
    background-color: #3a91e8;
}